
/* Mobile styles */
@media screen and (max-width: 414px) {
    .center {
        width: 95%;
    }

    /* image sizes set to scale */
    .icon {
        height: 100px;
        width: 100px;
    }

    #profile {
        height: 150px;
        width: 150px;
    }

    /* caption and hold font sizes explicit to ensure layout responds correctly */
    .caption {
        font-size: 0.75rem;
    }

    #hold {
        font-size: 0.6rem;
    }

    /* overlay size adjusted to fill */
    .overlay {
        width: 95%;
        height: 95%;
    }

    /* another hidden colour transition */
    #profile:active,
    .links:active {
        filter: grayscale(0%);
    }
}